.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 135px;
    cursor: pointer;
    object-fit: cover;
}

.section-brand{
    height: 200px;
    padding: 0px 13px 0px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sec-title{
        width: 100%;
        height: 51px;
        font-weight: 600;
        font-size: 40px;
        text-align: center;
    }
    .swiper-wrapper{
        height: 132px;
        width: 100%;
        display: flex;
    }
}

// swiper styles:
.swiper {
    width: 1280px;
  }