// mixin for media query:
@mixin queryIf($width){
    @if ($width == 360){
        @media (max-width: 360px){
            @content
        }
    }
        @else if($width == 361){
        @media (min-width: 361px) {
            @content
        }
    }
        @else if($width == 600){
        @media (min-width: 600px) {
            @content
        }
    }
}

.swiper {
    max-width: 100%;
}

.section-brand{
    max-width: 300vw;
    padding: 0px 13px 0px 13px;
    .sec-title{
        width: 100%;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 40px;
    }
    .swiper-wrapper{
        width: 100%;
        display: flex;
        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 264px;
            height: 135px;
            cursor: pointer;
            object-fit: cover;
            transition: .3s;
            filter: grayscale(1);
            &:hover{
            filter: grayscale(0%);
            }
        }
    }
}

@include queryIf(360){
    .section-brand{
        .sec-title{
            font-size: 20px;
        }
    }
    .section-brand{
        height: 190px;
        .swiper-wrapper{
            .swiper-slide{
                width: 120px;
                height: 60px;
            }
        }
    }
}
@include queryIf(361){
    .section-brand{
        .sec-title{
            font-size: 20px;
        }
    }
    .section-brand{
        height: 190px;
        .swiper-wrapper{
            .swiper-slide{
                width: 120px;
                height: 60px;
            }
        }
    }
}
@include queryIf(600){
    .section-brand{
        .sec-title{
            font-size: 40px;
        }
    }
    .section-brand{
        height: 200px;
        .swiper-wrapper{
            .swiper-slide{
                width: 264px;
                height: 135px;
            }
        }
    }
}
