

.row-footer{
    max-width: 228px;
    height: 200px;
    background-color: red;
    gap: 10px;
}

.text-container{
    width: 100px;
    background-color: aqua;
}

.text-row{
    width: 100px;
    background-color: red;
}

.text-link{
    width: 30px;
    background-color: pink;
}