@import "../../../root.scss";

#footer{
    max-width: 100%;
    height: 459px;
    display: flex;
    padding: 20px 40px 12px 40px;
    gap: 15px;
    background-color: var(--black-color);
    .top-footer{
        width: 100%;
        height: 201px;
        gap: 15px;
        display: flex;
        .test{
            width: 228px;
            height: 201px;
        }
        .col-footer{
            width: 100%;
            height: max-content;
            gap: 10px;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .col-title{
            font-weight: 600;
            font-size: 18px;
            margin: 0;
            color: var(--white-text);
        }
        .text-container{
            width: 100%;
            height: max-content;
            font-weight: 400;
            font-size: 14px;
            color: var(--white-text);
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .image-container{
            width: 168px;
            gap: 4px;
            display: flex;
            justify-content: space-evenly;
            .col-title{
                font-weight: 700;
                font-size: 24px;
            }
        }
    }
}