:root {
  --gray-color: #353535;
  --black-color: #1f1f1f;
  --primary-color: #003d95;
  --white-text: #f1f5f8;
  --background-mapSection: #f1f5f8;
  --blueCard-mapSection: #2b6fbd1a;
  ---black-text: #000000;
}
