<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section class="what-services-tonrow">
        <h1>تــنــرو، چه خدماتی  ارائه میدهد؟</h1>
        <div class="header-what-services-tonrow">
            <button class="active-btn-header-what-services-tonrow">درخواست خرید</button>
            <button>درخواست سفیر</button>
        </div>
        <div class="body-what-services-tonrow">
            
        </div>
    </section>
    <script src="index.js"></script>
</body>
</html>