// import SEC continer code
@import "./scss/continer-what-services.scss";
// import header sass
@import "./scss/header-what-services.scss";
// import body sass
@import './scss/body-what-services.scss';



.body-what-services-tonrow{
    display: flex;
    flex-direction: column;
    gap: 7px;
}