#small {
  width: 68px;
  height: 60px;
  border-radius: 4px;
  border: 20px 24px 20px 24px;
  border: 1.5px solid #dcdcdc;
  background-color: transparent;
}
#big {
  width: 236px;
  height: 60px;
  border-radius: 8px;
  background: #003d95;
  color: white;
}
#borderBig {
    width: 236px;
    height: 60px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #DCDCDC;
}
