#header {
  background-color: #fefefe;
  color: #fff;
  padding: 20px;

  .header-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;

    .logo-links-container {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      .logo-links a {
        color: #9a9a9a;
        text-decoration: none;
        transition: color 0.3s ease;
        margin-right: 20px;

        &:hover {
          color: #034cb6;
        }
      }

      .logo {
        height: 15px;
        margin-left: 20px; /* Adjusted to margin-left */
      }
    }

    .buttons-container {
      display: flex;
      align-items: center;
    

      &:hover {
        background-color: #ddd;
      }
    }
  }
}
