/* Styling for the header */
#header {
  background-color: #fefefe; /* Background color of the header */
  color: #fff; /* Text color */
  padding: 20px; /* Padding around the header content */

  /* Styling for the content within the header */
  .header-content {
    display: flex; /* Display as flexbox */
    align-items: center; /* Align items vertically */
    flex-direction: row-reverse; /* Arrange content in a row in reverse order */
    justify-content: space-between; /* Space evenly between content */

    /* Styling for the container holding the logo and links */
    .logo-links-container {
      display: flex; /* Display as flexbox */
      align-items: center; /* Align items vertically */
      flex-direction: row-reverse; /* Arrange content in a row in reverse order */

      /* Styling for the links within the logo-links container */
      .logo-links a {
        color: #9a9a9a; /* Link color */
        text-decoration: none; /* Remove underline from links */
        transition: color 0.3s ease; /* Smooth color transition */
        margin-right: 20px; /* Margin on the right */

        /* Styling for link hover state */
        &:hover {
          color: #034cb6; /* Change color on hover */
        }
      }

      /* Styling for the logo */
      .logo {
        height: 15px; /* Height of the logo */
        margin-left: 20px; /* Margin on the left */
      }
    }

    /* Styling for the container holding buttons */
    .buttons-container {
      display: flex; /* Display as flexbox */
      align-items: center; /* Align items vertically */

      /* Specific styles for each button class */
      .btn-0 {
        /* Styles for buttons in the first array */
        background-color: #fefefe; /* Background color */
        padding: 7px 10px; /* Padding */
        margin-right: 5px; /* Margin on the right */
        border: 2px solid #dcdcdc; /* Border */
      }

      .btn-1 {
        background-color: #fefefe; /* Background color */
        padding: 7px 10px; /* Padding */
        border: 2px solid #dcdcdc; /* Border */
      }

      /* Special styles for buttons created from publicHeaderData array */
      .btn-public {
        background-color: #003d95; /* Background color */
        padding: 12px 40px; /* Padding */
        border: none; /* No border */
        border-radius: 5px; /* Border radius */
        cursor: pointer; /* Cursor style */
      }
    }
  }

  /* Media query for screens less than 900px */
  @media (max-width: 900px) {
    .header-content {
      display: flex; /* Display as flexbox */
      align-items: center; /* Align items vertically */
      flex-direction: row; /* Arrange content in a row */
      justify-content: space-between; /* Space evenly between content */
    }
  }
}
