@import "../../styles/_root";

/* Styles for the header component */

#header {
  background-color: #fefefe; /* Background color of the header */
  color: #fff; /* Text color */
  padding: 20px; /* Padding around the header content */

  /* Styles for the content within the header */
  .header-content {
    display: flex; /* Display as flexbox */
    align-items: center; /* Align items vertically */
    flex-direction: row-reverse; /* Arrange content in a row in reverse order */
    justify-content: space-between; /* Space evenly between content */

    /* Styles for the container holding the logo and links */
    .logo-links-container {
      display: flex; /* Display as flexbox */
      align-items: center; /* Align items vertically */
      flex-direction: row-reverse; /* Arrange content in a row in reverse order */

      /* Styles for the links within the logo-links container */
      .logo-links a {
        color: #9a9a9a; /* Link color */
        text-decoration: none; /* Remove underline from links */
        transition: color 0.3s ease; /* Smooth color transition */
        margin-right: 20px; /* Margin on the right */

        /* Styles for link hover state */
        &:hover {
          color: var(--primary-color); /* Change color on hover */
        }
      }

      /* Styles for the logo */
      .logo {
        height: 15px; /* Height of the logo */
        margin-left: 20px; /* Margin on the left */
      }
    }

    /* Styles for the container holding buttons */
    .buttons-container {
      display: flex; /* Display as flexbox */
      align-items: center; /* Align items vertically */

      /* Special styles for buttons created from publicHeaderData array */
      .btn-public {
        cursor: pointer; /* Cursor style */
      }
      .buttonComponentWrapper {
        margin-right: 10px; /* Margin on the right */
        cursor: pointer; /* Cursor style */
      }
      .buttonComponentWrapper img {
        margin-left: 25px; /* Margin on the left */
      }
    }
  }

  /* Ensure the header has enough space for the fixed icon */
  .sidebar-toggle-icon {
    padding: 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;

    img {
      width: 28px;
      height: 32px;
    }
  }

  /* Media query for screens less than 900px */
  @media (max-width: 900px) {
    position: fixed; /* Make the header fixed */
    top: 0; /* Stick to the top of the viewport */
    width: 100%; /* Make the header cover full width */
    z-index: 2; /* Ensure it's above other content */
    display: flex; /* Display as flexbox */
    align-items: center; /* Align items vertically */
    flex-direction: row-reverse; /* Arrange content in a row in reverse order */
    justify-content: flex-end; /* Align content to the end of the flex container */
  }
}
