.flash-maker{
    height: 121px;
    padding: 12px 13px 12px 13px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    .flash-url{
        width: 58px;
        height: 93px;
    }
}