@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;

  #breakMotor {
    width: 100vw;
    height: 108px;
    @include display();
  }
  #animationMotor {
    width: 89vw;
    height: 108px;
    @include display();
    flex-direction: column;
    align-items: flex-start;
  }
  #road {
    width: 89vw;
    height: 13px;
  }
  #motor {
    width: 43px;
    height: 34px;

    @keyframes runs {
      0% {
        transform: translateX(0);
      }

      20% {
        transform: translateX(1280px);
      }

      100% {
        transform: translateX(1280px);
      }
    }
  }
}

// when screen less than 1360 display of break motor will be none.
@media screen and (max-width: 1360px){
  body{
    #breakMotor{
      display: none;
    }
  }
}
