@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;

  #breakMotor {
    width: 100vw;
    height: 108px;
    @include display();

    @media (max-width: 760px) {
      display: none;
    }
  }
  #animationMotor {
    width: 89vw;
    height: 108px;
    @include display();
    flex-direction: column;
    align-items: flex-start;
  }
  #road {
    width: 89vw;
    height: 10px;
  }
  #motor {
    width: 43px;
    height: 34px;
    animation-name: runs;
    animation-duration: 18s;

    @keyframes runs {
      0% {
        transform: translateX(0);
      }

      20% {
        transform: translateX(1440px);
      }

      100% {
        transform: translateX(1440px);
      }
    }
  }
}
