// hero section (mobile version)
#hero-section{
    width: 98%;
    height: 350px;
    margin: 0 auto;
    margin-top: 5% ;
    background-color: aquamarine;
}

#hero-banner {
    background-color: rgb(7, 214, 24);
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#hero-banner > img {
    position: absolute;
}