// hero section (mobile version)
#hero-section{
    width: 95%;
    height: 350px;
    margin: 0 auto;
    margin-top: 5% ;
    position: relative;
    max-width: 1000px;
    // background-color: #6168FF;
}


#herobBanner-Container {
    height: 100%;
    padding-top: 7%;
    overflow: hidden;
}

#hero-banner {
    background-color: #6168FF;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 40px;
    margin: 0 auto;
}

#hero-banner > img {
    position: absolute;
}

.logo-image{
    right: 7%;
    top: -5%;
    // z-index: 1;
}

.hero-image{
    // left: 3%;
    top: -10%;
    z-index: 2;
}

.shadow-image{
    width: 100%;
    height: 100%;
    // z-index: ;
}

.downArrow-image{
    bottom: 13%;
    left: 45%;
    z-index: 5;
}

.subcard-image{
 width: 115%;
 position: absolute;
 z-index: 4;
 bottom: -6%;
 left: -5%;
 padding-bottom: 5px;
 max-width: 900px;
}
// ---------------------
// end of heroBanner

// ---------------------
// start of heroDescription

#hero-description{
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    // background-color: #6168FF;
}

#hero-description .hero-title{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

#hero-description .hero-textContent {
    font-size: 12px;
    padding-top: 10px;
    width: 95%;
}
// =-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=

.subcard-desktop-container{
    display: none;
}

.subcard-desktop-container{
    position: absolute;
    width: 120%; 
    max-width: 1280px;
    height: 10%;
    max-height: 10px;
    z-index: 7;

}

.subcard-desktop-container > * {
    position: absolute;
}
.subcard-desktop-container > .subcard-image-desktop {
    width: 100%;
    top: -10%;
}

#desktop-subcardTexts{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    right: 10%;
    top: 600%;
}

.subcard-downBtn{
    position: absolute;
    left: 13%;
    top: 900%;
    width: 50px;
    // width:100px;
}

