@media screen and (min-width: 370px) and (max-width: 440px) {

    .hero-image {
        left: 10%;
    }
}

// @media screen and (max-width: 1280px) {

//     #hero-section{
//         padding-top: 100px;
//         // padding-bottom: 300px;
//         margin-bottom: 300px;
//     }
//     .hero-image {
//         left: 10%;
//     }
// }

@media screen and (max-width:900px) {
    #hero-section{
        padding-top: 100px;
        padding-bottom: 300px;
    }
    
}

@media screen and (min-width: 440px) {

    .hero-image {
        left: 15%;
    }

    .downArrow-image {
        bottom: 13%;
    }

    .subcard-image {
        bottom: -9%;
        width: 110%;
    }



}

@media screen and (min-width: 455px) {

    .subcard-image {
        bottom: -10%;
    }
}


@media screen and (min-width : 500px) {

    .downArrow-image {
        bottom: 12%;
    }

    .subcard-image {
        bottom: -12%;
    }
}

@media screen and (min-width : 500px) {

    .hero-image {
        left: 20%;
    }
}

@media screen and (min-width : 600px) {


    .hero-image {
        left: 25%;
    }

    .subcard-image {
        bottom: -14%;
    }
}

@media screen and (min-width : 650px) {
    .subcard-image {
        bottom: -18%;
    }
}

@media screen and (min-width : 700px) {
    .subcard-image {
        bottom: -21%;
    }
}

@media screen and (min-width : 750px) {
    .subcard-image {
        bottom: -23%;
    }

    .hero-image {
        left: 28%;
    }

}

@media screen and (min-width : 800px) {
    .subcard-image {
        bottom: -25%;
    }
}

@media screen and (min-width : 850px) {
    .subcard-image {
        bottom: -26%;
    }
}

// -------------------------------
// desktop

@media screen and (min-width : 900px) {

    #desktop-subcardTexts {
        background-color: transparent;

        span {
            font-size: 18px;
        }

        span:first-of-type {
            font-size: 37px;
        }
    }

    #hero-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 370px;
        gap: 15%;
        margin-bottom: 200px;
    }

    #herobBanner-Container {
        width: 100%;
        max-width: 350px;
    }

    #hero-description {
        width: 30%;
        padding-bottom: 5%;
    }

    .subcard-image {
        display: none;
    }

    .subcard-image-desktop {
        display: block;

    }

    .subcard-desktop-container {
        display: flex;
        bottom: 20%;
        // position: absolute;
    }

    .downArrow-image {
        display: none;
    }

    .hero-image {
        left: unset;
        // width: 100%;
        top: -10%;
        left: 5%;
    }

    #hero-description {
        text-align: end;
        display: flex;
        align-items: end;
        margin: 0 auto;
        flex-direction: column;
    }
}


@media screen and (min-width : 1000px) {

    #herobBanner-Container {
        margin-left: 5%;
    }
}

@media screen and (min-width : 1100px) {

    #herobBanner-Container {
        margin-left: 7%;
    }
}

@media screen and (min-width : 1150px) {

    .subcard-desktop-container {
        display: flex;
        bottom: 22%;
        // position: absolute;
    }
}


@media screen and (min-width : 1250px) {

    #herobBanner-Container {
        margin-left: 8%;
    }
}