//* This style is repeated frequently

@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  //* parent div style
  #map {
    @include display();
    background-color: #f1f5f8;
  }
  //* Map Background
  //* first childe on parent
  #mapSection {
    padding: 30px 2%;
    width: 90vw;
    @include display();
    justify-content: space-between;
    flex-direction: row-reverse;
    background-image: url("/images/map.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    //* motor cycle image
    .motorDelivery {
      position: relative;
      bottom: 79px;
      z-index: 1;
    }
    .tooltips {
      background-color: #2b6fbd;
      color: var(--white-text);
      border-radius: 4px;
      width: fit-content;
      height: fit-content;
      position: relative;
      opacity: 0;
      padding: 7px 10px;
      &:nth-child(3) {
        position: absolute;
        left: 36vh;
        top: 280px;
      }
      &:nth-child(2) {
        position: absolute;
        left: 10vh;
        top: 180px;
      }
      &:nth-child(4) {
        position: absolute;
        left: 76vh;
        top: 205px;
      }
      &:nth-child(5) {
        position: absolute;
        left: 80vh;
        top: 360px;
      }
      &:nth-child(6) {
        position: absolute;
        left: 80vh;
        top: 480px;
      }
      &:nth-child(7) {
        left: 695px;
        top: 525px;
      }
    }
  }
}

//*blue card component

//* blue card on child element
#blueCard {
  @include display();
  flex-direction: row;
  text-align: center;
  width: 32%;
  height: 504px;
  position: relative;
  // * blur overlay div
  #overlay{
    border-radius: 16px;
    border: 1px solid #F1F1F1;
    width: 100%;
    height: 100%;
    background: #2B6FBD1A;
    position: absolute;
    backdrop-filter: blur(4px);
    z-index: 2;
  }
  //* description section on card child
  #descriptionSellCard {
    @include display();
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 87%;
    gap: 32px;
    z-index: 2;
    //* title
    h1 {
      margin: 0;
      font-size: 40px;
      font-weight: 600;
    }
    //* description text
    p {
      font-size: 24px;
      font-weight: 400;
    }
    .ambassador-request-btn{
      button{
        font-size: 24px;
      }
    }
  }
}
/**
 * CSS rule to hide the map element when the viewport width is 1360 pixels or less.
 */

@media screen and (max-width: 1360px) {
  body{
    #map{
      display: none;
    }
  }
}