/**========================================================================
 *                          map component style
 *========================================================================**/

//* This style is repeated frequently

@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;

  //* parent div style
  #map {
    @include display();
    width: 100vw;
    height: 580px;
    background-color: #f1f5f8;
  }
  /**========================================================================
   **                          map background
   *========================================================================**/
  //* first childe on parent
  #mapSection {
    padding: 0 2%;
    width: 91vw;
    height: 580px;
    @include display();
    justify-content: space-between;
    flex-direction: row-reverse;
    background-image: url("../public/images/map.svg");
    background-repeat: no-repeat;
    background-size: cover;
    //* motor cycle image
    img {
      position: relative;
      bottom: 79px;
      animation-name: move;
      animation-duration: 5s;

      //*Engine movement animation on the map screen.
      @keyframes move {
        0% {
          transform: translateX(0);
        }

        50% {
          transform: translateX(620px) translateY(33px);
        }

        100% {
          transform: translateY(33px) translateX(620px);
        }
      }
    }
    // #tooltips1,
    // #tooltips2,
    // #tooltips3,
    // #tooltips4,
    // #tooltips5 {
    // display: none;
    // position: absolute;
    // background-color: #06489f;
    // color: white;
    // padding: 5px;
    // border-radius: 5px;
    // width: fit-content;
    // height: fit-content;
    // text-align: center;
    // }

    .tooltips {
      position: absolute;
      background-color: #06489f;
      color: white;
      padding: 5px;
      border-radius: 5px;
      width: fit-content;
      height: fit-content;
      display: none;

      @keyframes animated {
        from {
          // visibility: hidden;
          display: none;
        }
        to {
          // visibility: visible;
          display: flex;
        }
      }

      &:nth-child(3) {
        left: 20px;
        top: 180px;
        animation-name: animated;
        animation-duration: 5s;
        animation-delay: 10s;
      }

      &:nth-child(4) {
        animation-name: animated;
        animation-duration: 5s;
        animation-delay: 2s;
        left: 300px;
        top: 280px;
      }

      &:nth-child(5) {
        animation-name: animated;
        animation-duration: 5s;
        animation-delay: 5s;
        left: 740px;
        top: 222px;
      }

      &:nth-child(6) {
        animation-name: animated;
        animation-duration: 5s;
        animation-delay: 2s;
        left: 698px;
        top: 390px;
      }

      &:nth-child(7) {
        animation-name: animated;
        animation-duration: 5s;
        animation-delay: 2s;
        left: 680px;
        top: 510px;
      }
    }
  }
}
/**========================================================================
 *                           blue card component
 *========================================================================**/

//* blue card on child element
#blueCard {
  @include display();
  flex-direction: row;
  text-align: center;
  width: 32%;
  height: 504px;
  background: #2b6fbd1a;
  border: 1px solid #f1f1f1;
  border-radius: 4px;

  //* description section on card child
  #descriptionSellCard {
    @include display();
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 87%;
    height: 504px;

    //* title
    h1 {
      margin: 0;
      font-size: 40px;
      font-weight: 600;
    }
    //* description text
    p {
      font-size: 24px;
      font-weight: 400;
    }

    //* CTA button on description section
    button {
      width: 264px;
      height: 56px;
      border-radius: 4px;
      padding: 18px, 8px, 18px, 8px;
      background-color: #034f7e;
      color: white;
    }
  }
}
