//* This style is repeated frequently

@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;

  //* parent div style
  #map {
    @include display();
    width: 100vw;
    height: 580px;
    background-color: #f1f5f8;
  }
  //* Map Background
  //* first childe on parent
  #mapSection {
    padding: 0 2%;
    width: 91vw;
    height: 580px;
    @include display();
    justify-content: space-between;
    flex-direction: row-reverse;
    background-image: url("../public/images/map.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    //* motor cycle image
    .motorDelivery {
      position: relative;
      bottom: 79px;
      animation-name: moves;
      animation-duration: 5s;

      //*Engine movement animation on the map screen.
      @keyframes moves {
        0% {
          transform: translateX(0);
        }

        50% {
          transform: translateX(650px) translateY(33px);
        }

        100% {
          transform: translateY(30px) translateX(650px);
        }
      }
    }
    .tooltips {
      position: absolute;
      background-color: #2b6fbd;
      color: white;
      padding: 5px;
      border-radius: 4px;
      width: fit-content;
      height: fit-content;
      display: none;

      @keyframes animated {
        from {
          display: none;
        }
        to {
          display: flex;
        }
      }

      &:nth-child(3) {
        animation-name: animated;
        animation-duration: 5s;
        left: 45px;
        top: 180px;
      }
      &:nth-child(3)::after {
        content: "درخواست سفیر";
      }

      &:nth-child(4) {
        animation-name: animated;
        animation-duration: 5s;
        left: 300px;
        top: 280px;
      }
      &:nth-child(4)::after {
        content: "قبول درخواست توسط نزدیک ترین سفیر";
      }
      &:nth-child(5) {
        animation-name: animated;
        animation-duration: 5s;
        left: 740px;
        top: 222px;
      }
      &:nth-child(5)::after {
        content: "حضور در مبدا";
      }
      &:nth-child(6) {
        animation-name: animated;
        animation-duration: 5s;
        left: 705px;
        top: 390px;
      }
      &:nth-child(6)::after {
        content: "دریافت سفارش";
      }
      &:nth-child(7) {
        animation-name: animated;
        animation-duration: 5s;
        left: 695px;
        top: 525px;
      }
      &:nth-child(7)::after {
        content: "تحویل سفارش";
      }
    }
  }
}

//*blue card component

//* blue card on child element
#blueCard {
  @include display();
  flex-direction: row;
  text-align: center;
  width: 32%;
  height: 504px;
  background: #2b6fbd1a;
  border: 1px solid #f1f1f1;
  border-radius: 4px;

  //* description section on card child
  #descriptionSellCard {
    @include display();
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 87%;
    height: 504px;

    //* title
    h1 {
      margin: 0;
      font-size: 40px;
      font-weight: 600;
    }
    //* description text
    p {
      font-size: 24px;
      font-weight: 400;
    }
  }
}
/**
 * CSS rule to hide the map element when the viewport width is 1360 pixels or less.
 */

@media screen and (max-width: 1360px) {
  body{
    #map{
      display: none;
    }
  }
}