/* Define keyframes for sidebar animation */
@keyframes moveSidebar {
  0% {
    right: -100px;
    /* Sidebar starts off-screen to the right */
  }

  100% {
    right: 0px;
    /* Sidebar moves to the fully visible position */
  }
}

/* Styling for the sidebar */
#sidebar {
  display: none;
  /* Initially hide the sidebar */
  background-color: var(--white-text);
  /* Background color */
  color: var(--gray-color);
  /* Text color */
  padding: 20px;
  /* Padding inside the sidebar */
  width: 250px;
  /* Initial width */
  position: fixed;
  /* Fixed positioning */
  top: 0;
  /* Position from the top */
  right: 0;
  /* Position from the right */
  height: 96%;
  /* Height of the sidebar */
  border-radius: 10px 0px 0px 10px;
  /* Rounded corners */
  overflow-x: hidden;
  /* Hide horizontal overflow */
  animation: 0.7s moveSidebar;
  /* Apply animation to sidebar */
  z-index: 4;
  /* Stack order */


  /* Styling for the sidebar logo */
  .sidebar-logo {
    margin: 34% 0% 20% 55%;
    /* Set the desired margin */
    width: 100%;
    /* Set the width of the sidebar logo container */
    position: relative;
    /* Make it a positioned element */

    /* Styling for the lines in the logo */
    .line {
      position: absolute;
      /* Absolute positioning */
      top: 41px;
      /* Position from the top */
      width: 100%;
      /* Full width */
      height: 2px;
      /* Height */
      background-color: #e3eaf4;
      /* Line color */
    }
  }

  /* Styling for additional links */
  .additional-links {
    text-align: right;
    /* Align links to the right */
  }

  .additional-links a {
    text-decoration: none;
    /* Remove underline from links */
    color: #e2725b;
    /* Link color */
  }

  /* Styling for the content within the sidebar */
  .sidebar-content {
    display: flex;
    /* Display as flexbox */
    flex-direction: column;
    /* Arrange content vertically */
    padding-bottom: 65px;
    /* Padding at the bottom */
    align-items: flex-start;
    /* Align items to the right */

    /* Styling for links within the content */
    a {
      color: #bcbdbf;
      /* Link color */
      text-decoration: none;
      /* Remove underline */
      margin-bottom: 10px;
      /* Adjust margin bottom for spacing */
      transition: color 0.3s ease;
      /* Smooth color transition */
    }

    /* Add padding between each link */
    a+a {
      padding-top: 10px;
      /* Adjust padding top for spacing */
    }
  }
}

/* Styling for the sidebar toggle icon */
.sidebar-toggle-icon {
  padding: 10px;
  /* Padding around the icon */
  border: none;
  /* No border */
  cursor: pointer;
  /* Cursor style */
  position: fixed;
  /* Fixed positioning */
  top: 20px;
  /* Position from the top */
  right: 20px;
  /* Position from the right */
  z-index: 1;
  /* Stack order, ensure it's above other content */

  /* Styling for the icon image */
  img {
    width: 28px;
    /* Image width */
    height: 32px;
    /* Image height */
  }
}

.overlay {
  display: none;
  /* Initially hide the overlay */
  position: fixed;
  /* Fixed positioning */
  top: 0;
  /* Position from the top */
  left: 0;
  /* Position from the left */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  backdrop-filter: blur(5px);
  /* Blur effect */
  z-index: 2;
  /* Stack order, ensure overlay appears above other content */
}

/* Styling for the overlay */

/* Media query for screens less than or equal to 900px */
@media (max-width: 900px) {
  .sidebar-toggle-icon {
    display: block;
    /* Display the sidebar toggle icon on smaller screens */
  }

  #sidebar {
    display: none;
    /* Hide the sidebar initially on smaller screens */

    &.open {
      display: block;
      /* Show the sidebar when it's open */
    }
  }

  .overlay {
    // display: none;
    /* Initially hide the overlay */
    position: fixed;
    /* Fixed positioning */
    top: 0;
    /* Position from the top */
    left: 0;
    /* Position from the left */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0,
        0,
        0,
        0.5);
    /* Semi-transparent black background */
    backdrop-filter: blur(5px);
    /* Blur effect */
    z-index: 3;
    /* Stack order, ensure overlay appears above other content */
  }

}

/* Media query for screens wider than 900px */
@media (min-width: 901px) {
  .sidebar-toggle-icon {
    display: none;
    /* Hide the sidebar toggle icon on larger screens */
  }

  #sidebar {
    display: none;
    /* Ensure the sidebar is hidden on larger screens */
  }
  .overlay {
    z-index: -10;
    background-color: transparent;
  }
}