@keyframes moveSidebar {
  0% {
    right: -100px;
  }
  100% {
    right: 0px;
  }
}
#sidebar {
  display: none;
  background-color: #fbfcff;
  color: #bcbdbf;
  padding: 20px;
  width: 250px; /* Initial width */
  position: fixed;
  top: 0;
  right: 0;
  height: 96%;
  border-radius: 10px 0px 0px 10px;
  overflow-x: hidden; /* Hide overflow to prevent horizontal scrollbar */
  animation: 0.7s moveSidebar;
  z-index: 3;

  &.open {
    display: block; /* Show when open */
  }

  .sidebar-logo {
    margin: 34% 0% 20% 55%; // Set the desired margin
    width: 80%; // Set the width of the sidebar logo container
    position: relative; // Make it a positioned element

    .line {
      position: absolute;
      top: 41px;
      left: -109px;
      width: 100%;
      height: 2px;
      background-color: #e3eaf4;
    }
  }

  .additional-links {
    text-align: right;
    margin-right: 31px;
  }
  .additional-links a {
    text-decoration: none;
    color: #e2725b;
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
    align-items: flex-end;
    margin-right: 30px;

    a {
      color: #bcbdbf;
      text-decoration: none;
      margin-bottom: 10px; // Adjust margin bottom for spacing between links
      transition: color 0.3s ease;
    }

    // Add padding between each link
    a + a {
      padding-top: 10px; // Adjust padding top for spacing between links
    }
  }
}

.sidebar-toggle-icon {
  padding: 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  z-index: 0;

  img {
    width: 28px;
    height: 32px;
    
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black background
  backdrop-filter: blur(5px); // Blur effect
  z-index: 2; // Ensure overlay appears above other content
}
