.what-services-tonrow {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 25px;
    color: var(--black-color);
  }
}
@media only screen and (min-width: 700px){
  .what-services-tonrow{
    h1 {
      font-size: 40px;
    }
  }
}