.header-what-services-tonrow {
  display: flex;
  margin: 0 auto;
  width: 87%;
  height: 59px;
  border-radius: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 2px 8px 0px #727D871A;
  overflow: hidden;
  .btn-head-SEC-whatDoesTonrowDo {
    color: var(--gray-color);
    font-size: 17px;
    background-color: transparent;
    border: none;
    width: 50%;
    cursor: pointer;
  }
}

.active-btn-header-what-services-tonrow {
  color: var(--primary-color) !important;
  border-bottom: 2.5px solid var(--primary-color) !important;
}

@media only screen and (min-width: 900px) {
  .header-what-services-tonrow {
    display: none;
  }
}
