/**========================================================================
 *                          map component style
 *========================================================================**/

//* This style is repeated frequently

@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}
//* parent div style
#map {
  @include display();
  width: 100vw;
  height: 580px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  background-color: antiquewhite;

  //* first childe on parent
  #mapSection {
    width: 90vw;
    height: 580px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @include display();
  }
}

/**========================================================================
 *                           blue card component
 *========================================================================**/

//* blue card on child element
#blueCard {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  @include display();
  flex-direction: row;
  text-align: center;
  width: 50%;
  height: 504px;
  background: #2b6fbd1a;
  border: 1px solid #f1f1f1;

  //* description section on card child
  #descriptionSellCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 45%;
    height: 504px;

    //* title
    h2 {
      font-size: 40px;
      font-weight: 600;
    }
    //* description text
    p {
      font-size: 24px;
      font-weight: 400;
    }

    //* CTA button on description section
    button {
      width: 264px;
      height: 56px;
      border-radius: 4px;
      padding: 18px, 8px, 18px, 8px;
      background-color: #1f4baf;
      color: white;
    }
  }
}
