.map {
    width: 100vw;
    height: 580px;
    display: flex;
    justify-content: center;


    .mapSection {
        width: 90vw;
        height: 580px;
        display: flex;
        justify-content: center;

    }
}